html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "RobotoRegular", sans-serif;
  font-size: 14px;
  color: #3f3f3f;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

strong {
  font-family: "ProximaNovaB", sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block; }

@font-face {
  font-family: 'ProximaNovaR';
  src: url("../fonts/ProximaNovaRegular/proximanovaregular-webfont.eot");
  src: url("../fonts/ProximaNovaRegular/proximanovaregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/proximanovaregular-webfont.woff2") format("woff2"), url("../fonts/ProximaNovaRegular/proximanovaregular-webfont.woff") format("woff"), url("../fonts/ProximaNovaRegular/proximanovaregular-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaRegular/proximanovaregular-webfont.svg#ankchiddjgmbalcregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaB';
  src: url("../fonts/ProximaNovaBold/proximanovabold-webfont.eot");
  src: url("../fonts/ProximaNovaBold/proximanovabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/proximanovabold-webfont.woff2") format("woff2"), url("../fonts/ProximaNovaBold/proximanovabold-webfont.woff") format("woff"), url("../fonts/ProximaNovaBold/proximanovabold-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaBold/proximanovabold-webfont.svg#ielaolbpchndjkbregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/ProximaNovaLt/proximanova-light-webfont.eot");
  src: url("../fonts/ProximaNovaLt/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaLt/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/ProximaNovaLt/proximanova-light-webfont.woff") format("woff"), url("../fonts/ProximaNovaLt/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/ProximaNovaLt/proximanova-light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto/robotolight-webfont.eot");
  src: url("../fonts/Roboto/robotolight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/robotolight-webfont.woff2") format("woff2"), url("../fonts/Roboto/robotolight-webfont.woff") format("woff"), url("../fonts/Roboto/robotolight-webfont.ttf") format("truetype"), url("../fonts/Roboto/robotolight-webfont.svg#roboto_lightregular") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/Roboto/robotomedium-webfont.eot");
  src: url("../fonts/Roboto/robotomedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/robotomedium-webfont.woff2") format("woff2"), url("../fonts/Roboto/robotomedium-webfont.woff") format("woff"), url("../fonts/Roboto/robotomedium-webfont.ttf") format("truetype"), url("../fonts/Roboto/robotomedium-webfont.svg#roboto_mediumregular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/Roboto/robotoregular-webfont.eot");
  src: url("../fonts/Roboto/robotoregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/robotoregular-webfont.woff2") format("woff2"), url("../fonts/Roboto/robotoregular-webfont.woff") format("woff"), url("../fonts/Roboto/robotoregular-webfont.ttf") format("truetype"), url("../fonts/Roboto/robotoregular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/rubik-regular-webfont.eot");
  src: url("../fonts/Rubik/rubik-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik/rubik-regular-webfont.woff2") format("woff2"), url("../fonts/Rubik/rubik-regular-webfont.woff") format("woff"), url("../fonts/Rubik/rubik-regular-webfont.ttf") format("truetype"), url("../fonts/Rubik/rubik-regular-webfont.svg#rubikregular") format("svg");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto; }

.flex-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-sb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-fe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.home, .digits, .registration {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2022a2), to(#445ae2));
  background-image: -webkit-linear-gradient(bottom, #2022a2 0%, #445ae2 100%);
  background-image: -o-linear-gradient(bottom, #2022a2 0%, #445ae2 100%);
  background-image: linear-gradient(to top, #2022a2 0%, #445ae2 100%);
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff; }
  .home:before, .digits:before, .registration:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1019px;
    background: url("../images/Rectangle.png") no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-animation-name: slideDown;
            animation-name: slideDown;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
  .home__wrap {
    position: relative;
    z-index: 1; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-2000px) translateX(2000px);
            transform: translateY(-2000px) translateX(2000px); }
  100% {
    -webkit-transform: translateX(0) translateX(0);
            transform: translateX(0) translateX(0); } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-2000px) translateX(2000px);
            transform: translateY(-2000px) translateX(2000px); }
  100% {
    -webkit-transform: translateX(0) translateX(0);
            transform: translateX(0) translateX(0); } }

.mob-menu {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  color: #fff;
  background-color: #4156dc;
  padding-top: 20px;
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  display: none; }
  .mob-menu__close {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-right: 15px;
    position: absolute;
    top: 5px;
    right: 0; }
  .mob-menu .menu-item a {
    display: block;
    font-size: 16px;
    letter-spacing: 0.32px;
    padding: 20px 15px;
    position: relative; }

.close-line, .close-line:before {
  display: block;
  height: 4px;
  width: 109%;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
  .close-line:before {
    content: "";
    width: 100%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.header {
  position: relative;
  z-index: 1; }
  .header__logo {
    margin-right: 10px; }
    .header__logo img {
      max-height: 30px; }
  .header__menu {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .header .menu-item {
    position: relative; }
    .header .menu-item__text {
      padding: 27px 20px;
      font-size: 16px;
      letter-spacing: .32px; }
    .header .menu-item__submenu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 165px;
      -webkit-box-shadow: 0 9px 24px rgba(0, 0, 0, 0.36);
              box-shadow: 0 9px 24px rgba(0, 0, 0, 0.36);
      background-color: #6676e1;
      display: none; }
      .header .menu-item__submenu a {
        position: relative;
        padding: 10px 20px;
        font-size: 14px;
        letter-spacing: 0.28px;
        display: block; }
        .header .menu-item__submenu a:after {
          content: "";
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 8px;
          background: url("../images/arrow-little.png") no-repeat;
          width: 6px;
          height: 10px; }
  .header .submenu {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background-color: #333f8d; }
    .header .submenu a:after {
      display: none; }
  .header__user-menu {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
    .header__user-menu_btn {
      margin-right: 20px;
      padding: 10px 16px;
      font-size: 16px;
      -webkit-border-radius: 7px;
              border-radius: 7px; }
      .header__user-menu_btn:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  .header__lng {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }

.lng-now {
  padding: 27px 23px 27px 40px;
  font-size: 16px;
  letter-spacing: 0.32px;
  cursor: pointer;
  position: relative; }
  .lng-now span {
    position: relative;
    text-transform: uppercase; }
    .lng-now span:before {
      content: "";
      position: absolute;
      top: 2px;
      left: -24px;
      background: url("../images/United_Kingdom(Great_Britain).png") no-repeat;
      background-position: -5px -5px;
      width: 19px;
      height: 15px; }
    .lng-now span:after {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 27px;
      background: url("../images/arrow-lng.png") no-repeat;
      width: 6px;
      height: 4px; }
  .lng-now:hover {
    background-color: #6676e1; }
  .lng-now:hover .lng-wrap {
    display: block; }

.lng-wrap {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-box-shadow: 0 9px 24px rgba(0, 0, 0, 0.36);
          box-shadow: 0 9px 24px rgba(0, 0, 0, 0.36);
  background-color: #6676e1;
  width: 105px;
  padding-right: 22px;
  text-align: right; }
  .lng-wrap a {
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: .28px; }

.header-mob-menu {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  width: 28px;
  height: 20px;
  margin-left: 25px;
  position: relative;
  display: none; }
  .header-mob-menu__line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0; }
    .header-mob-menu__line:before {
      content: "";
      -webkit-transform: translateY(-7px);
          -ms-transform: translateY(-7px);
              transform: translateY(-7px);
      display: block;
      height: 4px;
      width: 100%;
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 0; }
    .header-mob-menu__line:after {
      content: "";
      -webkit-transform: translateY(7px);
          -ms-transform: translateY(7px);
              transform: translateY(7px);
      display: block;
      height: 4px;
      width: 100%;
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      left: 0; }

.info {
  padding: 65px 0;
  position: relative; }
  .info_rates {
    text-align: center; }
  .info__title {
    font-size: 35px;
    font-family: "ProximaNovaR", sans-serif; }
  .info__text {
    font-size: 16px;
    margin-top: 25px;
    letter-spacing: .64px;
    line-height: 28px; }

.info-wrap {
  width: 65%; }
  .info-wrap__heading {
    font-family: "ProximaNovaR", sans-serif;
    font-size: 43px;
    line-height: 50px; }
  .info-wrap__text {
    font-size: 16px;
    letter-spacing: .64px;
    line-height: 28px;
    margin-top: 20px; }

.text-stock {
  margin-top: 20px; }
  .text-stock__banner {
    padding: 7px 14px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    background-color: #ffffff;
    color: #ff6866;
    font-family: "RobotoMedium", sans-serif;
    font-size: 14px;
    letter-spacing: .28px;
    display: inline-block;
    margin-right: 10px; }
  .text-stock__text {
    font-size: 14px;
    letter-spacing: .56px;
    border-bottom: 1px dashed #ffffff; }

.info-link {
  margin-top: 20px; }

.btn {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  font-size: 14px;
  color: #fff;
  font-family: "RobotoMedium", sans-serif;
  background-color: #ff6866;
  padding: 15px 22px;
  letter-spacing: .28px; }
  .btn:hover {
    -webkit-box-shadow: 0 9px 16px rgba(0, 0, 0, 0.48);
            box-shadow: 0 9px 16px rgba(0, 0, 0, 0.48); }

.link-watch_btn {
  margin-left: 10px;
  background-color: #555dc4;
  padding: 15px 22px 15px 60px;
  position: relative; }
  .link-watch_btn:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
    width: 29px;
    height: 29px;
    background: url("../images/noun.png") no-repeat; }

.img-tablet {
  position: absolute;
  top: 30px;
  right: -275px;
  -webkit-animation-name: tabletOpacity;
          animation-name: tabletOpacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

@-webkit-keyframes tabletOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }

@keyframes tabletOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }

.img-phone {
  position: absolute;
  top: 82px;
  right: 160px;
  -webkit-animation-name: phoneOpacity;
          animation-name: phoneOpacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

@-webkit-keyframes phoneOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }

@keyframes phoneOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }

.plans {
  text-align: center;
  padding: 65px 0 50px; }

.plans-heading {
  color: #3f3f3f;
  font-family: "proxima_novalight", sans-serif;
  font-size: 25px; }

.plans-table {
  margin-top: 40px; }
  .plans-table__wrap {
    width: 100%; }
    .plans-table__wrap > tbody > tr > td {
      padding-left: 10px; }
      .plans-table__wrap > tbody > tr > td:first-child {
        padding-left: 0;
        vertical-align: bottom; }

table {
  width: 100%;
  border-collapse: separate; }

.table-main tbody tr:nth-child(even) .table-main__cell {
  background-color: #fff;
  display: table-cell; }

.table-main__cell {
  background-color: #f7f7f7;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 15px;
  display: block;
  margin: 0 10px;
  color: #797979;
  letter-spacing: 0.56px;
  font-family: "RobotoLight", sans-serif; }
  .table-main__cell_empty {
    height: 75px; }

.table-description {
  text-align: left; }
  .table-description__cell-heading {
    vertical-align: bottom;
    padding-bottom: 15px;
    padding-left: 0;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    color: #535353;
    font-family: "ProximaNovaR", sans-serif; }
    .table-description__cell-heading_empty {
      height: 180px; }
  .table-description__cell-main {
    margin: 0;
    position: relative; }
    .table-description__cell-main_heading {
      vertical-align: bottom; }
    .table-description__cell-main a {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 14px;
      width: 18px;
      height: 18px;
      background: url("../images/information.png") no-repeat center center; }
  .table-description__cell-footer {
    display: block;
    margin: 43px 0 29px;
    color: #535353;
    font-family: "ProximaNovaR", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.56px; }

.table-plans-price {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px #e8e8e8;
          box-shadow: 0 0 0 1px #e8e8e8;
  width: 200px;
  overflow: hidden; }
  .table-plans-price:hover {
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.19);
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.19); }
  .table-plans-price__heading .price-policy__price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 60px;
    height: 100%;
    margin-top: 10px; }
  .table-plans-price__main_icon {
    background: url("../images/yes.png") no-repeat center center;
    width: auto;
    height: 15px;
    padding: 22px;
    background-color: #f7f7f7; }
  .table-plans-price__main_icon-no {
    background: url("../images/no.png") no-repeat center center;
    width: auto;
    height: 3px;
    padding: 22px;
    background-color: #f7f7f7; }
  .table-plans-price__footer {
    display: block;
    margin: 40px 15px 15px; }
    .table-plans-price__footer .btn {
      width: 100%; }
      .table-plans-price__footer .btn:hover {
        color: #fff; }

.tabs {
  padding: 40px 0 20px; }

.tabs-icon {
  -webkit-animation-name: slideUpOpacity;
          animation-name: slideUpOpacity;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  overflow: visible; }

@-webkit-keyframes slideUpOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

@keyframes slideUpOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }

.icon-item {
  text-align: center;
  width: 20%;
  padding: 20px 0;
  border-right: 1px solid #eaeaea;
  position: relative; }
  .icon-item__img {
    height: 87px; }
  .icon-item__name {
    color: #afafaf;
    font-family: "ProximaNovaR", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    position: relative;
    margin-top: 15px; }
  .icon-item__arrow {
    position: absolute;
    bottom: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 16px;
    height: 9px;
    margin-top: 5px;
    display: none;
    background: url("../images/arrow-big.png") no-repeat; }
  .icon-item:last-child {
    border-right: none; }

.icon-item_active {
  -webkit-box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1); }
  .icon-item_active .icon-item__arrow_active {
    display: inline-block; }

.tabs-content {
  margin-top: 60px; }

.tabs-content-box__wrap {
  display: none;
  opacity: 0; }
  .tabs-content-box__wrap:nth-child(3) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.tabs-content-img {
  width: 50%; }

.tabs-content-text {
  width: 47%; }

.tabs-wrap-heading {
  color: #3f3f3f;
  font-family: "ProximaNovaR", sans-serif;
  font-size: 25px;
  font-weight: 300;
  margin-top: 60px; }

.tabs-wrap-text {
  color: #797979;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.56px;
  margin: 25px 0 30px;
  text-align: justify; }

.tabs-wrap-btn {
  color: #fff; }

.digits, .registration {
  padding: 55px 0; }
  .digits__wrap, .registration__wrap {
    position: relative;
    z-index: 1; }

.digits-content, .registration-content {
  text-align: center; }

.digits-heading, .services-heading, .registration-heading {
  font-family: "ProximaNovaR", sans-serif;
  font-size: 25px;
  line-height: 52px;
  margin-bottom: 30px; }

.digits-basic {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .digits-basic__wrap {
    min-width: 175px;
    max-width: 190px; }

.digits-basic-head__nomber {
  text-shadow: 0 0 18px rgba(0, 0, 0, 0.29);
  font-family: "Rubik", sans-serif;
  font-size: 61px; }
  .digits-basic-head__nomber_big {
    font-size: 91px;
    line-height: 57px; }

.digits-basic-text {
  font-size: 12px;
  letter-spacing: 0.72px; }

.digits-basic-bottom {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.78px;
  margin-top: 10px; }

.services {
  padding: 60px 0 70px;
  border-bottom: 2px solid #eaeaea;
  text-align: center; }

.services-heading {
  color: #3f3f3f;
  margin-bottom: 25px; }

.services-items {
  position: relative; }
  .services-items:before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    z-index: 2;
    width: 10px;
    background-color: #fff; }
  .services-items:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: -5px;
    z-index: 2;
    width: 10px;
    background-color: #fff; }
  .services-items__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative; }
    .services-items__wrap:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 10px;
      background-color: #fff; }

.services-box {
  width: 20%;
  overflow: hidden;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  .services-box__box {
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    min-height: 220px;
    padding: 35px 12px 12px; }

.service-box-img {
  min-height: 53px;
  height: 100%; }
  .service-box-img .icon {
    display: inline-block;
    stroke: inherit;
    fill: #FF6866;
    width: 52px;
    height: 52px; }

.service-box-heading {
  color: #3f3f3f;
  font-family: "ProximaNovaR", sans-serif;
  font-size: 17px;
  line-height: 35px; }

.service-box-text {
  color: #797979;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: .78px;
  font-family: "RobotoLight", sans-serif; }

.price {
  padding: 60px 0 70px;
  text-align: center;
  font-family: "ProximaNovaR", sans-serif; }

.price-heading {
  margin-bottom: 40px; }
  .price-heading__title {
    font-size: 25px;
    margin-bottom: 15px; }
  .price-heading__text {
    font-family: "RobotoLight", sans-serif;
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 20px; }

.price-main {
  overflow: visible; }
  .price-main__rate {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    max-width: 245px;
    width: 100%;
    height: auto;
    border: 1px solid #f4f4f4;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    .price-main__rate:nth-child(n+2) {
      margin-left: 15px; }

.rate-heading {
  -webkit-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  padding: 20px 0 15px;
  font-size: 25px;
  color: #fefefe;
  margin: -1px; }
  .rate-heading_free {
    background-color: #d1d1d1; }
  .rate-heading_smart {
    background-color: #455de4; }
  .rate-heading_professional {
    background-color: #85bc37; }
  .rate-heading_ultimate {
    background-color: #fdc01c; }

.price-policy {
  margin: 0 10px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100px;
  height: 100%; }
  .price-policy__price {
    margin-bottom: 10px;
    color: #6b6b6b; }
  .price-policy__text {
    color: #9f9f9f;
    font-family: "RobotoRegular", sans-serif;
    font-size: 13px;
    letter-spacing: 0.52px; }

.price-currency {
  font-size: 18px; }

.price-digits {
  font-size: 30px; }

.price-rate__currency {
  font-size: 13px; }

.price-rate__digits {
  font-size: 20px; }

.price-rate__month {
  font-size: 14px; }

.price-rate:nth-child(n+2) {
  margin-top: 5px; }

.price-client {
  font-size: 30px;
  text-transform: uppercase; }

.price-description {
  font-family: "RobotoLight", sans-serif;
  font-size: 13px;
  letter-spacing: 0.26px;
  margin-bottom: 30px;
  line-height: 20px; }

.btn-wrap {
  margin-bottom: 40px; }
  .btn-wrap a {
    color: #606060;
    font-family: "RobotoMedium", sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px; }
    .btn-wrap a:hover {
      color: #ff6866; }

.registration__wrap {
  max-width: 1030px; }

.registration-main__text {
  text-align: left;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.68px;
  font-family: "proxima_novalight", sans-serif; }

.registration-main__btn {
  margin-left: 20px; }

.footer-info {
  padding: 40px 0 10px;
  color: #929292; }
  .footer-info__wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }

.menu-info {
  font-size: 13px;
  margin-bottom: 30px; }
  .menu-info:nth-child(n+2) {
    margin-left: 20px; }
  .menu-info:nth-child(6) {
    margin-left: 0;
    margin-bottom: 0;
    display: none; }
  .menu-info__heading {
    color: #3f3f3f;
    font-family: "RobotoMedium", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .56px;
    margin-bottom: 20px; }

.menu-info-items:nth-child(n+2) {
  margin-top: 12px; }

.sprites-social__icon {
  display: inline-block; }
  .sprites-social__icon:nth-child(n+2) {
    margin-left: 15px; }
  .sprites-social__icon a {
    position: relative;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .sprites-social__icon a:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: url("../images/social.png") no-repeat; }
    .sprites-social__icon a:hover {
      -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.34);
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.34); }
  .sprites-social__icon + li a:before {
    background-position-x: -59px; }
  .sprites-social__icon + li + li a:before {
    background-position-x: -118px; }

footer {
  padding: 20px 0 15px;
  background-color: #292929; }

.footer-wrap {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "RobotoLight", sans-serif; }
  .footer-wrap__box a {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.48px; }
  .footer-wrap_copyright {
    color: #807f7f;
    font-size: 12px;
    letter-spacing: 0.48px; }
  .footer-wrap_arrow a {
    width: 28px;
    height: 28px;
    background: url("../images/arrow_up.png") no-repeat center center; }

.cookie {
  text-decoration: underline;
  margin-right: 15px; }
  .cookie:hover {
    text-decoration: underline; }

@media (max-width: 1200px) {
  .home:before, .digits:before, .registration:before {
    left: -100px; }
  .header .menu-item__text {
    padding: 27px 15px; }
  .header__user-menu_btn {
    margin-right: 10px; }
  .digits-basic {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .digits-basic__wrap {
      width: 18%; }
  .service-box-heading {
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 5px; } }

@media (min-width: 993px) {
  .menu-item__submenu {
    max-height: none !important;
    overflow: visible !important; }
    .menu-item__submenu .submenu {
      max-height: none !important;
      overflow: visible !important; }
    .menu-item__submenu li:hover {
      background-color: #333f8d !important; }
    .menu-item__submenu li:hover .submenu {
      display: block; }
  .menu-item:hover {
    background-color: #6676e1; }
  .menu-item:hover .menu-item__submenu {
    display: block; }
  .price-main__rate {
    -webkit-box-ordinal-group: 1 !important;
    -webkit-order: 0 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important; }
    .price-main__rate:nth-child(n+2) {
      margin-left: 15px !important;
      margin-top: 0 !important; } }

@media (max-width: 992px) {
  .mob-menu {
    display: block; }
  .mob-menu-open {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
  .header__logo {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__menu li {
      border-top: 1px solid #808ee8; }
    .header__menu .menu-item:last-child a:before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 15px;
      width: 12px;
      height: 1px;
      background-color: #fff;
      -webkit-transform-origin: right;
          -ms-transform-origin: right;
              transform-origin: right;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header__menu .menu-item:last-child a:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 15px;
      width: 12px;
      height: 1px;
      background-color: #fff;
      -webkit-transform-origin: right;
          -ms-transform-origin: right;
              transform-origin: right;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .header__menu .menu-item.open > a {
      background-color: #6676e1; }
      .header__menu .menu-item.open > a:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 15px;
        width: 12px;
        height: 1px;
        background-color: #fff;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                transform-origin: right;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .header__menu .menu-item.open > a:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 20px;
        width: 12px;
        height: 1px;
        background-color: #fff;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .header__menu .submenu-item.open > a {
      background-color: #6676e1; }
      .header__menu .submenu-item.open > a:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 15px;
        width: 12px;
        height: 1px;
        background-color: #fff;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                transform-origin: right;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .header__menu .submenu-item.open > a:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 20px;
        width: 12px;
        height: 1px;
        background-color: #fff;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                transform-origin: left;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .header__menu .menu-item__submenu {
      max-height: 0px;
      overflow: hidden; }
    .header__menu .submenu {
      max-height: 0px;
      overflow: hidden; }
      .header__menu .submenu a:before {
        display: none; }
      .header__menu .submenu a:after {
        display: none; }
  .header__user-menu {
    padding: 0 15px;
    margin-bottom: 10px; }
  .header-mob-menu {
    display: block; }
  .info-wrap {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-itens: center;
    jusify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .info-wrap__heading {
      width: 85%;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
  .img-tablet {
    display: none; }
  .img-phone {
    display: none; }
  .tabs-icon {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .icon-item__name {
    font-size: 14px;
    line-height: 25px;
    margin-top: 5px; }
  .tabs-content-text__wrap {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .tabs-wrap-heading {
    margin-top: 0; }
  .tabs-wrap-text {
    margin: 20px 0 20px;
    line-height: 22px;
    text-align: left; }
  .digits-basic {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .digits-basic__wrap {
      width: 24%;
      margin-left: 5px; }
      .digits-basic__wrap:first-child {
        margin-left: 0; }
      .digits-basic__wrap:last-child {
        margin-left: 0;
        margin-top: 20px; }
  .price-main-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .price-main {
    width: 75%; }
    .price-main__rate:nth-child(2n+2) {
      margin-left: 15px;
      margin-top: 15px !important; }
    .price-main__rate:nth-child(2) {
      margin-left: 0; }
  .registration-main__text strong {
    display: block; }
  .menu-info {
    width: 22%; }
    .menu-info:nth-child(n+5) {
      margin-left: 0; }
    .menu-info:nth-child(6) {
      display: block; } }

@media (min-width: 769px) {
  .icon-item:hover {
    -webkit-box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1); }
  .price-main-wrap {
    width: auto !important; }
  .price-main__rate {
    width: 100% !important; }
    .price-main__rate:hover {
      -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.19);
              box-shadow: 0 0 18px rgba(0, 0, 0, 0.19); } }

@media (max-width: 768px) {
  .info-wrap__heading {
    width: 100%;
    line-height: 40px;
    font-size: 40px; }
  .tabs {
    padding: 15px 0 20px; }
    .tabs .swiper-container {
      overflow: hidden; }
  .tabs-icon {
    padding: 25px; }
    .tabs-icon .swiper-slide-active {
      -webkit-box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
              box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1); }
      .tabs-icon .swiper-slide-active .icon-item__arrow_active {
        display: inline-block; }
  @-webkit-keyframes slideUpOpacity {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1; }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1; } }
  @keyframes slideUpOpacity {
    0% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1; }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      opacity: 1; } }
  .icon-item {
    border-right: none; }
  .icon-item__name {
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px; }
  .tabs-content {
    display: block;
    margin-top: 20px; }
  .tabs-content-box {
    padding-top: 5px; }
    .tabs-content-box__wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      opacity: 1; }
  .tabs-content-img {
    display: none; }
  .tabs-content-text {
    width: 100%;
    text-align: center; }
  .tabs-wrap-text {
    text-align: center; }
  .digits-heading, .services-heading, .registration-heading {
    font-size: 24px;
    line-height: 40px; }
  .digits-basic__wrap {
    width: 40%;
    margin-left: 0;
    margin-bottom: 35px; }
    .digits-basic__wrap:last-child {
      margin-top: 0;
      margin-bottom: 0; }
  .service-box-heading {
    font-size: 15px;
    line-height: 18px; }
  .price-main {
    width: 248px;
    overflow: hidden; }
    .price-main__rate {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
      .price-main__rate:nth-child(2n+2) {
        margin-left: 0;
        margin-top: 35px !important; }
      .price-main__rate:nth-child(n+2) {
        margin-left: 0; }
  .registration-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .registration-main__text {
    margin-bottom: 30px; }
  .footer-info__wrap {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .menu-info {
    width: 33%; }
    .menu-info:nth-child(3) {
      margin-left: 0; }
  .footer-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .footer-wrap_copyright {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      width: 100%;
      margin-top: 30px; }
    .footer-wrap_arrow {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .footer-wrap__box a {
      display: block; }
  .cookie {
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  .info {
    padding: 40px 0; }
  .info-wrap__heading {
    width: 100%;
    font-size: 26px;
    line-height: 33px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .text-stock {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 30px;
    margin-top: 0; }
    .text-stock__banner {
      padding: 6px 10px;
      font-size: 13px;
      margin-right: 5px; }
    .text-stock__text {
      font-size: 11px;
      letter-spacing: .52px; }
  .info-wrap__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .56px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .info-link {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .info-link a {
      width: 230px; }
      .info-link a:last-child {
        margin-left: 0;
        margin-top: 10px; }
  .tabs-icon {
    width: 82%;
    margin: 0 auto; }
  .digits, .registration {
    padding: 45px 0; }
  .digits-heading, .services-heading, .registration-heading {
    line-height: 35px; }
  .digits-basic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .digits-basic__wrap {
      width: 49%; }
  .services {
    padding: 40px 0 40px; }
  .services-heading {
    margin-bottom: 10px; }
  .service-box-heading {
    font-size: 15px;
    line-height: 18px; }
  .price {
    padding: 50px 0 45px; }
  .footer-info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-info__wrap .menu-info {
      margin-left: 0;
      width: 100%; } }
