@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNovaRegular/proximanovaregular-webfont.eot');
    src: url('../fonts/ProximaNovaRegular/proximanovaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular/proximanovaregular-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNovaRegular/proximanovaregular-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaRegular/proximanovaregular-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaRegular/proximanovaregular-webfont.svg#ankchiddjgmbalcregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/robotolight-webfont.eot');
    src: url('../fonts/Roboto/robotolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/robotolight-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/robotolight-webfont.woff') format('woff'),
         url('../fonts/Roboto/robotolight-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/robotolight-webfont.svg#roboto_lightregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto/robotomedium-webfont.eot');
    src: url('../fonts/Roboto/robotomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/robotomedium-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/robotomedium-webfont.woff') format('woff'),
         url('../fonts/Roboto/robotomedium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/robotomedium-webfont.svg#roboto_mediumregular') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/robotoregular-webfont.eot');
    src: url('../fonts/Roboto/robotoregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/robotoregular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/robotoregular-webfont.woff') format('woff'),
         url('../fonts/Roboto/robotoregular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto/robotoregular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/rubik-regular-webfont.eot');
    src: url('../fonts/Rubik/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rubik/rubik-regular-webfont.woff2') format('woff2'),
         url('../fonts/Rubik/rubik-regular-webfont.woff') format('woff'),
         url('../fonts/Rubik/rubik-regular-webfont.ttf') format('truetype'),
         url('../fonts/Rubik/rubik-regular-webfont.svg#rubikregular') format('svg');
    font-weight: 400;
    font-style: normal;
}