@media (max-width: 1200px) {
    // HEADER -------------------
    .home {
        &:before {
            left: -100px;
        }
    }
    .header {
        .menu-item {
            &__text {
                padding: 27px 15px;
            }
        }
        &__user-menu {
            &_btn {
                margin-right: 10px;
            }
        }
    }

    // DIGITS -------------------
    .digits-basic {
        flex-wrap: wrap;

        &__wrap {
            width: 18%;
        }
    }

    // SERVICES -----------------
    .services-box {
        &__box {
            min-height: 225px;
        }
    }
    .service-box-heading {
        line-height: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (min-width: 993px) {
    // HEADER -------------------
    .menu-item {
        &__submenu {
            max-height: none !important;
            overflow: visible !important;

            .submenu {
                max-height: none !important;
                overflow: visible !important;
            }
            li {
                &:hover {
                    background-color: #333f8d !important;
                }
                &:hover .submenu {
                    display: block;
                }
            }
        }
        &:hover {
            background-color: #6676e1;
        }
        &:hover .menu-item__submenu {
            display: block;
        }
    }

    // PRICE -------------------
    .price-main__rate {
        order: 0 !important;

        &:nth-child(n+2) {
            margin-left: 15px !important;
            margin-top: 0 !important;
        }
    }
}

@media (max-width: 992px) {
    // HEADER -------------------
    .mob-menu {
        display: block;
    }
    .mob-menu-open {
        transform: translateY(0%);
    }
    .header__logo {
        flex-grow: 1;
    }
    .header__menu {
        flex-direction: column;

        li {
            border-top: 1px solid #808ee8;
        }
        .menu-item {
            &:last-child {
                a {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -1px;
                        right: 15px;
                        width: 12px;
                        height: 1px;
                        background-color: #fff;
                        transform-origin: right;
                        transform: rotate(45deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -1px;
                        right: 15px;
                        width: 12px;
                        height: 1px;
                        background-color: #fff;
                        transform-origin: right;
                        transform: rotate(-45deg);
                    }
                }
            }
            &.open{
                & > a{
                    background-color: #6676e1;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: 15px;
                        width: 12px;
                        height: 1px;
                        background-color: #fff;
                        transform-origin: right;
                        transform: rotate(-45deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: 20px;
                        width: 12px;
                        height: 1px;
                        background-color: #fff;
                        transform-origin: left;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        .submenu-item{
            &.open{
                & > a{
                    background-color: #6676e1;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: 15px;
                        width: 12px;
                        height: 1px;
                        background-color: #fff;
                        transform-origin: right;
                        transform: rotate(-45deg);
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        margin-top: -5px;
                        right: 20px;
                        width: 12px;
                        height: 1px;
                        background-color: #fff;
                        transform-origin: left;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        .menu-item__submenu {
            max-height: 0px;
            overflow: hidden;
        }
        .submenu {
            max-height: 0px;
            overflow: hidden;

            a {
                &:before{
                    display: none;
                }

                &:after{
                    display: none;
                }
            }
        }
    }
    .header__user-menu {
        padding: 0 15px;
        margin-bottom: 10px;
    }
    .header-mob-menu {
        display: block;
    }

    // INFO---------------------
    .info-wrap {
        width: 100%;
        display: flex;
        align-itens: center;
        jusify-content: center;
        flex-direction: column;
        text-align: center;

        &__heading {
            width: 85%;
            align-self: center;
        }
    }
    .img-tablet {
        display: none;
    }
    .img-phone {
        display: none;
    }

    // TABS---------------------
    .tabs-icon {
        animation-delay: 1.2s;
    }
    .icon-item__name {
        font-size: 14px;
        line-height: 25px;
        margin-top: 5px;
    }
    .tabs-content-text__wrap {
        align-self: center;
    }
    .tabs-wrap-heading {
        margin-top: 0;
    }
    .tabs-wrap-text {
        margin: 20px 0 20px;
        line-height: 22px;
        text-align: left;
    }

    // DIGITS -------------------
    .digits-basic {
        flex-wrap: wrap;
        justify-content: center;

        &__wrap {
            width: 24%;
            margin-left: 5px;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    // SERVICES -----------------
    .services-box {
        
        &:nth-child(n+9) .services-box__box {
            border-left: 1px solid #eaeaea;
        }
        &:nth-child(n+7) .services-box__box {
            border-right: none;
        }
    }
    .service-box-heading {
        
    }

    // PRICE -------------------
    .price-main-wrap {
        flex-wrap: wrap;
    }

    .price-main {
        width: 75%;

        &__rate {
            &:nth-child(2n+2) {
                margin-left: 15px;
                margin-top: 15px !important;
            }
            &:nth-child(2) {
                margin-left: 0;
            }
            
        }
    }

    // REGISTRATION ------------------------
    .registration-main__text {
        strong {
            display: block;
        }
    }

    // FOOTER-INFO ---------------------------
    .menu-info {
        width: 22%;

        &:nth-child(n+5) {
            margin-left: 0;
        }

        &:nth-child(6) {
            display: block;
        }
    }


}

@media (min-width: 769px) {
    .icon-item {
        &:hover {
            box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
        }
    }
    .price-main-wrap {
        width: auto !important;
    }
    .price-main__rate {
        width: 100% !important;

        &:hover {
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.19);
        }
    }
}

@media (max-width: 768px) {
    // INFO---------------------
    .info-wrap__heading {
        width: 100%;
        line-height: 40px;
        font-size: 40px;
    }

    // TABS---------------------
    .tabs {
        padding: 15px 0 20px;

        .swiper-container {
            overflow: hidden;
        }
    }
    .tabs-icon {
        padding: 25px;

        .swiper-slide-active {
            box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);

            .icon-item__arrow_active {
                display: inline-block;
            }
        }
    }
    @keyframes slideUpOpacity{
        0%{
            transform: translateY(0%);
            opacity: 1;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .icon-item {
        border-right: none;
    }
    .icon-item__name {
        font-size: 17px;
        line-height: 30px;
        margin-top: 15px;
    }
    .tabs-content {
        display: block;
        margin-top: 20px;
    }
    .tabs-content-box {
        padding-top: 5px;

        &__wrap {
            display: flex;
            opacity: 1;
        }
    }
    .tabs-content-img {
        display: none;
    }
    .tabs-content-text {
        width: 100%;
        text-align: center;
    }
    .tabs-wrap-text {
        text-align: center;
    }

    // DIGITS -------------------
    .digits-heading {
        font-size: 24px;
        line-height: 40px;
    }
    .digits-basic {
        &__wrap {
            width: 40%;
            margin-left: 0;
            margin-bottom: 35px;

            &:last-child {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    
     // SERVICES -----------------
    .services-box {
        &:nth-child(n+7) .services-box__box {
            border-left: 1px solid #eaeaea;
        }
        &:nth-child(n+5) .services-box__box {
            border-right: none;
        }
    }
    .service-box-heading {
        font-size: 15px;
        line-height: 18px;
    }

    // PRICE -------------------
    .price-main {
        width: 248px;
        overflow: hidden;

        &__rate {
            flex-shrink: 0;

            &:nth-child(2n+2) {
                margin-left: 0;
                margin-top: 35px !important;
            }
            &:nth-child(n+2) {
                margin-left: 0;
            }       
        }
    }
    
    // REGISTRATION ------------------------
    .registration-main {
        flex-direction: column;
    }
    .registration-main__text {
        margin-bottom: 30px;
    }

    // FOOTER-INFO ---------------------------
    .footer-info__wrap {
        justify-content: space-around;
    }
    .menu-info {
        width: 33%;

        &:nth-child(3) {
            margin-left: 0;
        }
    }

    // FOOTER ---------------------
    .footer-wrap {
        flex-wrap: wrap;

        &_copyright {
            order: 2;
            width: 100%;
            margin-top: 30px;
        }
        &_arrow {
            order: 1;
        }
        &__box {
            a {
                display: block;
            }
        }
    }
    .cookie {
        margin-bottom: 20px;
    }

}

@media (max-width: 480px) {
    // INFO---------------------
    .info {
        padding: 40px 0;
    }
    .info-wrap__heading {
        width: 100%;
        font-size: 26px;
        line-height: 33px;
        order: 1;
    }
    .text-stock {
        order: 0;
        margin-bottom: 30px;
        margin-top: 0;
        &__banner {
            padding: 6px 10px;
            font-size: 13px;
            margin-right: 5px;
        }
        &__text{
            font-size: 11px;
            letter-spacing: .52px;
        }
    }
    .info-wrap__text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .56px;
        order: 2;
    }
    .info-link {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            width: 230px;

            &:last-child{
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    // TABS---------------------
    .tabs-icon {
       width: 82%;
       margin: 0 auto;
    }

    // DIGITS -------------------
    .digits {
        padding: 45px 0;
    }
    .digits-heading {
        line-height: 35px;
    }
    .digits-basic {
        flex-direction: column;
        align-items: center;

        &__wrap {
            width: 49%;
        }
    }

    // SERVICES -----------------
    .services {
        padding: 40px 0 40px;
    }
    .services-box {
        &:nth-child(n+5) .services-box__box {
            border-left: 1px solid #eaeaea;
        }
        &:nth-child(n+3) .services-box__box {
            border-right: none;
        }
        &:nth-child(5) .services-box__box {
            border-left: none;
            border-right: 1px solid #eaeaea;
        }
        &:nth-child(6) .services-box__box {
            border-left: none;
            border-right: 1px solid #eaeaea;
        }
        &:nth-child(7) .services-box__box {
            border-left: none;
        }
        &:nth-child(8) .services-box__box {
            border-left: none;
        }
    }
    .services-heading {
        margin-bottom: 10px;
    }
    .service-box-heading {
        font-size: 15px;
        line-height: 18px;
    }

    // PRICE -------------------
    .price {
        padding: 50px 0 45px;
    }

    // FOOTER-INFO ---------------------------
    .footer-info__wrap {
        flex-direction: column;

        .menu-info {
            margin-left: 0;
            width: 100%;
        }
    }
}