$robotoFontR: 'Roboto Regular', sans-serif;
$robotoFontL: 'Roboto Light', sans-serif;
$robotoFontM: 'Roboto Medium', sans-serif;
$proximaNovaFont: 'Proxima Nova', sans-serif;
$rubikFont: 'Rubik', sans-serif;
$bgBlue: linear-gradient(to top, #2022a2 0%, #445ae2 100%);
$bgBtn: #ff6866;



