$robotoFontR: 'RobotoRegular', sans-serif;
$robotoFontL: 'RobotoLight', sans-serif;
$robotoFontM: 'RobotoMedium', sans-serif;
$proximaNovaFont: 'ProximaNovaR', sans-serif;
$proximaNovaFontB: 'ProximaNovaB', sans-serif;
$proximaNovaFontL: 'proxima_novalight', sans-serif;
$rubikFont: 'Rubik', sans-serif;
$bgBlue: linear-gradient(to top, #2022a2 0%, #445ae2 100%);
$bgBtn: #ff6866;



